.title{
	text-align: center;
  text-shadow: 4px 4px 5px #6930c3, 2px 2px 1px #80ffdb;
  color: #252525;
  font-weight: bold;
}
#subTitle{
  text-shadow: 4px 4px 5px #6930c3, 2px 2px 1px #80ffdb;
	text-align: center;
  display: block;
  font-size: 30px;
  font-weight: bold;
}

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.preview{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  

}

h3{
  display: block;
  font-size: 28px;
  margin-block-start: 10px;
  margin-block-end: 5px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h1 {
  display: block;
  font-size: 50px;
  margin-block-start: 10px;
  margin-block-end: 1px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.blog{
	text-align: center;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  font-size: 23px

}

.previewImage{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


.preview h3{
  background-color: #64dfdf;
  padding-bottom: 1px
  color: #252525;
}

body{
  background-color: #80ffdb;
}
.preview a {
  background-color: #6930c3;
  padding-top: 1px;
  padding-right: 7px;
  padding-bottom: 2px;
  padding-left: 7px;
  margin-top: 5px;
  margin-block-start: 10px;
  margin-block-end: 10px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: #252525;
  

}





nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #64dfdf;
  font-family: 'Poppins', sans-serif;
}
.logo{
  color: #252525;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 17px;
  font-weight: bold;

}
.nav-links li{
  list-style: none;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  width: 40%;
  
}

.nav-links a{
  color: #252525;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.burger{
  display: none;
  cursor: pointer;
}

.burger div{
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1024px){
  .nav-links{
  width: 70%;
  
  }
}

@media screen and (max-width: 769px){
  body{
    overflow-x: hidden;
  }
  .nav-links{
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #64dfdf;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li{
    opacity: 0;
  }

  .burger{
    display: block;
  }
}

.nav-active{
  transform: translateX(0%);
}

@keyframes NavLinkFade{
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1{
  transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px,-6px);
}