@import url('https://fonts.googleapis.com/css2?family=Castoro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap');

.logo h1{
	text-align: center;
  text-shadow: 4px 4px 5px #6930c3, 2px 2px 1px #80ffdb;
  color: #252525;
  font-weight: bold;
}
.logo h2{
  color: #252525;
  text-shadow: 4px 4px 5px #6930c3, 2px 2px 1px #80ffdb;
	text-align: center;
  display: block;
  font-size: 30px;
  font-weight: bold;
}
.logo{
  padding-bottom: 5px;
}

*:not(.weather){
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Castoro', serif;
}

.dropdown{
  height:50%;
}
h3{
  display: block;
  font-size: 28px;
  
  font-weight: bold;
}

h1 {
  display: block;
  font-size: 50px;
  
  font-weight: bold;
}
p{
  line-height: 1.5;
   
}
.aboutme p{
  text-align: left;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  font-size: 23px;
  padding-bottom: 20px;
  color: #252525;
}
.media {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.media li{
  list-style: none;
  margin: 20px;
}
.media li img{
  width: 44px;
  height: 44px; 
}
.aboutme h2{
  padding: 20px 10px;
  color: #252525;
  text-align: center;
  display: block;
  font-size: 25px;
  font-weight: bold;
}
.blog p{
	text-align: left;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  font-size: 23px;
  padding-bottom: 20px;
  color: #252525;
}

.blog h2{
  text-align: center;
  color: #252525;
  font-weight: bold;
}


.prev h3{
  background-color: #64dfdf;
  padding-bottom: 1px;
  color: #252525;
}
.prev img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.prev div{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.prev a{
  background-color: #64dfdf;
  padding-top: 1px;
  padding-right: 7px;
  padding-bottom: 2px;
  padding-left: 7px;
  color: #252525;
}




body{
  background-color: #80ffdb;
}

.wireframe img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.wireframe h1{
  text-align: center;
  color: #252525;
  font-weight: bold;
  font-size: 34px;
}

.wireframe{
  padding-top: 40px;
  padding-bottom: 40px;
}

.ref {
  padding-top: 30px;
  text-align: center;
  color: #252525;
  font-weight: bold;
  font-size: 20px;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #64dfdf;
}
.greeting{
  color: #252525;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-size: 24px;
  font-weight: bold;

}

.blog-nav li{
  list-style: none;

}



.blog-nav{
  display: flex;
  justify-content: space-around;
  width: 40%;

  
}

.blog-nav a{
  color: #252525;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  display: block;
  

}

.nav-links li{
  list-style: none;
  display: block;
  position: relative;
  padding: 10px;
  

}

.nav-links li ul{
  display: none;
  position: absolute;
  background-color: #64dfdf;
  margin-top: 11px;
  border-radius: 4px 4px 4px;
  width: 120px;
  z-index: 3;
  


}

.nav-links{
  display: flex;
  justify-content: space-around;
  width: 40%;
  z-index: 3;
  
}

.nav-links a{
  color: #252525;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 20px;
}

.nav-links li:hover {
  background-color: #80ffdb;
}
.nav-links li ul li:hover {
  background-color: #6930c3;
}
.nav-links li:hover ul{
  display: block;
  
}

.burger{
  display: none;
  cursor: pointer;
}

.burger div{
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: all 0.3s ease;
}
.headline{
  position: absolute;
  top: 0%;
  left: 15%;
  font-size: 100px;
  transform: translate(-20%, 70%);
  color:  white; 
  z-index: 2;
}

@media screen and (max-width: 1024px){
  .nav-links{
  width: 70%;
  
  }
}

@media screen and (max-width: 769px){
  body{
    overflow-x: hidden;
  }
  .prev h3{
    font-size: 15px;
  }
  .prev a{
    font-size: 9px;
  }
  .nav-links{
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: #64dfdf;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li{
    opacity: 0;
  }
  .nav-links li:hover ul{
    display: none;
  }

  .burger{
    display: block;
  }
  .headline{
    font-size: 75px;
  }
}

.nav-active{
  transform: translateX(0%);
}

@keyframes NavLinkFade{
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1{
  transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
  opacity: 0;
}
.toggle .line3{
  transform: rotate(45deg) translate(-5px,-6px);
}

.start{
  display: flex;
  height: 75vh;
  justify-content: center;
  align-items: center;
}
.hero {
  height: 80%;
  width: 98%;
  position: relative;
}
.hero img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}
.hero::after{
  content: "";
  background: black;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0.3; 
}




:root{
    --background-grad-day: linear-gradient(#56CCF2, #2F80ED, rgb(61, 0, 160));
    --background-grad-night: linear-gradient(#8a76ab, #7147b5, #290269);
    --sky-blue: #D0F4FC;
}


.weatherTitle{
  text-align: center;
}

.weather{
  margin: auto;
  height: 430px;
  width: 320px;
  background: var(--background-grad-day);
  border-radius: 24px;
  overflow: hidden;
  position: relative;
  font-family: 'Josefin Sans', sans-serif !important;
  margin-bottom: 50px;
}

.sky{
    position: absolute;
    top: 0;
    width: 100%;
}

.sky > div{
    margin: 0 auto;
    border-radius: 24px;
}

.cloud-1{
    width: 100%;
    height: 60px;
    background: var(--sky-blue);
}

.cloud-2{
    width: 75%;
    height: 55px;
    background: white;
    margin-top: -30px !important;
}

.cloud-3{
    width: 60%;
    height: 40px;
    background: var(--sky-blue);
    margin-top: -15px !important;
}

.icon{
    width: 95px;
    height: 95px;
    border-radius: 50% !important;
    margin-top: -50px !important;
}

#weatherIcon{
    width: 90px;
    height: 90px;
    margin: auto;
}

.content{
  margin-top: 120px;
  text-align: center;
  color: white;
  font-family: 'Josefin Sans', sans-serif !important;
      
}

.content > h1{
  font-size: 80px;
  margin-left: 20px;
}

.content > h3{
    font-size: 24px;
    font-weight: 300;
}

.details{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
    margin-top: 0px;
    font-weight: 300;
    row-gap: 8px;
}

.value{
  font-size: 34px;
}

.label{
  font-size: 14px;
}

.news{
  background-color: #64dfdf;
  width: auto;
  margin-bottom: 25px;
}

.news h2{
  text-align: center;
  font-size: 24px;
}
.news h3{
  text-align: center;
  font-size: 20px;
  margin-bottom: 5px;
}
.news h4{
  text-align: center;
  font-size: 17px;
  margin-bottom: 5px;
}
.newsTitle{
  text-align: center;
}